<div class="page">
  <!-- <div class="map-block">
    <app-map *ngIf="places && places.length>0" [center]="currLocation" [zoom]="11" [places]="places"></app-map>
  </div> -->


  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{phase.pickup}}" *ngFor="let phase of phases">
      <!-- <app-order-pack [assignments]="phase.assignments" [pickupTime]="phase.pickup"></app-order-pack> -->
      <div class="map-block" *ngIf="phase && phase.places && phase.places.length>0">
        <app-map [center]="currLocation" [zoom]="11" [places]="phase.places"></app-map>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>