<!-- <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" (click)="toHome()">duocun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="nav-left">
      <li class="nav-item">
        <a class="nav-link" (click)="toHome()" i18n='@@Home'>Home</a>
      </li>
      <li *ngIf="addr" class="navbar-text">
        <span class="text-dark">{{getCurrentCity()}}</span>
        &nbsp;&nbsp;|
      </li>
      <li *ngIf="addr" class="nav-item">
        <a class="nav-link" (click)="changeAddress()">
          <small i18n="@@ChangeDeliveryAddress">Change Address</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toBusinessCenter()" i18n='@@BusinessCenter'>Business Center</a>
      </li>
    </ul>
    <span *ngIf="isLogin" class="navbar-text">
      Hello, {{user?.username}}
    </span>
    <ul *ngIf="isLogin" class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user-circle fa-lg"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div *ngIf="type==='super'">
            <a class="dropdown-item" routerLink="admin" (click)="closeNavMenu()" i18n="@@Admin">Admin</a>
            <div class="dropdown-divider"></div>
          </div>
          <div *ngIf="type==='user'">
                <a class="dropdown-item" routerLink="admin/orders" (click)="closeNavMenu()" i18n="@@MyOrder">My Order</a>
                <div class="dropdown-divider"></div>
              </div>
          <a class="dropdown-item" href="#" (click)="logout()" i18n="@@Logout">Logout</a>
        </div>
      </li>
    </ul>
    <ul *ngIf="!isLogin" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" (click)="closeNavMenu()" i18n="@@Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" (click)="closeNavMenu()" i18n="@@Signup">Signup</a>
      </li>
    </ul>
  </div>
</nav> -->
