#nav-left {
  flex-grow: 1;
}
.navbar {
  a {
    cursor: pointer;
  }
}

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

@media #{$mobile}{
  .navbar{
    display: none;
  }
}