.payment-table-container{
  height: 600px;
  overflow: auto;
}

table{
  width: 100%;
}

.operate-block{
  margin-top:60px;
  .col-3, .col-4{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.mat-form-field {
  width: 120px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 10px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 4px;
}
.payable-list{
  margin-top: 60px;
}

.payment{
  margin: 0px;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #666;

  .col-6, .col-12{
    padding: 0px 10px;
  }
  .col-6{
    padding-top:10px;
  }
  .label{
    width: 80px;
    float: left;
  }
  .text-val{
    float: left;
  }
}


.send-row{
  font-size: 14px;
  padding-top: 10px;

  .left-col{
    padding: 0px;
  }
}

.send-form{
  font-size: 16px;
  padding-right: 0px;
  .labelx, .dollar-sign{
    padding-top: 3px;
  }
  .send-input{
    float: left;
    width: calc(100% - 56px);
    height: 32px;
    padding: 5px;
  }
  .row{
    margin: 0px;
  }
}
.paid-toggle{
  margin: 0px;
}

.mat-slide-toggle-bar {
  height: 28px !important;
  width: 78px !important;
}

.mat-slide-toggle-thumb {
  height: 28px !important;
  width: 28px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(50px,0,0) !important;
}

.mat-slide-toggle-thumb-container {
    width: 28px !important;
    height: 28px !important;
    top: 0px !important;
}

.mat-slide-toggle-content{
  font-size: 12px !important;
  padding-top: 8px !important;
}

.mat-slide-toggle {
  height: 30px !important;
}