<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@Payables">Payables</span>
  </div>
  <div class="payable-list">
    <div *ngFor="let p of credits">
      <div class="row payment">
        <div class="col-12">
          <span class="label" i18n="@@DeliverDate">Deliver Date</span>
          <span>{{p.delivered | date: 'MMMd E' }}</span>
        </div>
        <div class="col-12">
          <span class="label" i18n="@@Merchant">Merchant</span>
          <span>{{p.merchantName}}</span>
        </div>
        <div class="col-12">
          <span class="label" i18n="@@Payables">Payables</span>
          <span>${{p.amount}}</span>
        </div>
        <div class="col-6" *ngIf="p.status === 'new'">
          <form [formGroup]="forms[p.id]" class="send-form">
            <div class="row send-block">
              <div class="labelx"><span i18n="@@Payment">Payment</span>:&nbsp;</div>
              <div class="dollar-sign">$&nbsp;</div>
              <input class="send-input" name="send" formControlName="amount"/>
            </div>
          </form>
        </div>
        <div class="col-6" *ngIf="p.status === 'new'">
          <div class="row paid-toggle" >
            <mat-slide-toggle i18n="@@Paid" [checked]="paid"
            (change)="togglePaid($event, p)">Paid</mat-slide-toggle>
          </div>
        </div>

        <div class="col-12" *ngIf="p.status === 'sent'">
            <span class="label" i18n="@@Status">Status</span>
            <span i18n="@@WaitMerchantConfirm">Wait Merchant Confirm</span>
        </div>

      </div>
    </div>
  </div>
</div>

