<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@Payables">Payables</span>
  </div>

  <div class="row operate-block">
    <div class="col-5">
    <mat-form-field>
      <mat-label><span i18n="@@Restaurant">Restaurant</span></mat-label>
      <mat-select [(value)]="selectedMerchant" (selectionChange)="onMerchantSelectionChanged($event)">
        <mat-option *ngFor="let r of merchants" [value]="r.merchantId">
          {{r.merchantName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [formGroup]="payForm" class="col-4">
    <input name="send" formControlName="amount" />
  </div>
  <div class="col-3">
    <div class="btn btn-primary" i18n="@@Pay" (click)="payMerchant()">Pay</div>
  </div>
  </div>

  <div class="payment-table-container mat-elevation-z8" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@DeliveryDate">Delivery Date</th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: 'MMMd E'}} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="merchantName" >
        <th mat-header-cell *matHeaderCellDef i18n="@@Merchant"> Merchant </th>
        <td mat-cell *matCellDef="let row"> {{row.merchantName}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="driverName">
        <th mat-header-cell *matHeaderCellDef i18n="@@Driver"> Driver </th>
        <td mat-cell *matCellDef="let row"> {{row.driverName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="receivable">
        <th mat-header-cell *matHeaderCellDef i18n="@@Receivables"> Receivables </th>
        <td mat-cell *matCellDef="let row"> {{row.receivable | number : '1.2-2'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef i18n="@@Paid"> Paid </th>
        <td mat-cell *matCellDef="let row"> {{row.paid | number : '1.2-2'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef i18n="@@Balance"> Balance </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.balance"> {{row.balance | number : '1.2-2'}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[8]"></mat-paginator> -->
  </div>

  <!-- <div class="payable-list">
    <div *ngFor="let p of credits">
      <div class="row payment">
        <div class="col-12">
          <span class="label" i18n="@@DeliverDate">Deliver Date</span>
          <span>{{p.delivered | date: 'MMMd E' }}</span>
        </div>
        <div class="col-12">
          <span class="label" i18n="@@Merchant">Merchant</span>
          <span>{{p.merchantName}}</span>
        </div>
        <div class="col-12">
          <span class="label" i18n="@@Payables">Payables</span>
          <span>${{p.amount | number : '1.2-2'}}</span>
        </div>
        <div class="col-6" *ngIf="p.status === 'new'">
          <form [formGroup]="forms[p.id]" class="send-form">
            <div class="row send-block">
              <div class="labelx"><span i18n="@@Payment">Payment</span>:&nbsp;</div>
              <div class="dollar-sign">$&nbsp;</div>
              <input class="send-input" name="send" formControlName="amount"/>
            </div>
          </form>
        </div>
        <div class="col-6" *ngIf="p.status === 'new'">
          <div class="row paid-toggle" >
            <mat-slide-toggle i18n="@@Paid" [checked]="paid"
            (change)="togglePaid($event, p)">Paid</mat-slide-toggle>
          </div>
        </div>

        <div class="col-12" *ngIf="p.status === 'sent'">
            <span class="label" i18n="@@Status">Status</span>
            <span i18n="@@WaitMerchantConfirm">Wait Merchant Confirm</span>
        </div>

      </div>
    </div>
  </div> -->
</div>

