
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

footer{
    height:100px;
    padding:75px 15px 0px 80px;

    .copyright {
        font: 400 14px/14px 'Ubuntu', sans-serif;
        color: #414851;
    }

    a {
        color: #414851 !important;
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    span{
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    .created{
        font-size:11px;
        a{
            font-size:11px;
        }
    }

    .bottom-nav-menus{
      display: none;
      width: 100%;
      padding: 9px 0px;
      margin: 0px;

      .menu{
        width: 25%;
        margin: 0px;

        img, svg{
          width: 28px;
          height: 28px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        .icon-text {
          float: left;
          width: 100%;
          margin: 0px;
          text-align: center;
        }
      }
    }



  // badge
  .cart-row{
    height: 60px;
    margin: 0px;
    
    .fa-stack[data-count]:after{
      position:absolute;
      left: 45px;
      top: 5px;
      content: attr(data-count);
      font-size:10px;
      padding:.6em;
      border-radius:999px;
      line-height:.75em;
      color: white;
      background:rgba(255,0,0,.85);
      text-align:center;
      min-width:2em;
      font-weight:bold;
    }

    .fa-stack{
      margin-left: 5px;
    }
    .img-shopping-cart{
      margin-left: 0px;
    }

    .cart-col, .checkout-col, .amount-col{
      height: 60px;
      float: left;
      padding-left:15px;
    }

    .cart-col{
      width: 80px;
      border-right: solid 1px #ddd;
      padding-top: 10px;
    }
    .amount-col{
      padding-top: 15px;
      border-right: solid 1px #ddd;
      width: calc(100% - 175px);
    }
    .checkout-col{
      width: 95px;
      padding-top: 15px;
    }
  }
}

@media #{$tablet}{

}

@media #{$mobile}{
  footer{
    height:60px;
    padding:0px;
    line-height: 15px;
    font-size: 12px;
    background-color: white;
    border-top: 1px solid #eee;

    .bottom-nav-menus{
      display: flex;
    }

    .copyright{
      display: none;
    }

    .checkout-row{
      height: 60px;
      margin: 0px;

      .amount-col{
        padding-top: 15px;
        border-right: solid 1px #ddd;
      }
      .pay-col{
        padding-top: 15px;
      }
    }
  }
}