
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

footer{
    height:100px;
    padding:75px 15px 0px 80px;

    .copyright {
        font: 400 14px/14px 'Ubuntu', sans-serif;
        color: #414851;
    }

    a {
        color: #414851 !important;
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    span{
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    .created{
        font-size:11px;
        a{
            font-size:11px;
        }
    }

    .bottom-nav-menus{
      display: none;
      width: 100%;
      padding: 9px 0px;
      margin: 0px;

      .menu{
        width: 20%;
        margin: 0px;

        img, svg{
          width: 28px;
          height: 28px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        .icon-text {
          float: left;
          width: 100%;
          margin: 0px;
          text-align: center;
        }
      }
    }
}

@media #{$tablet}{

}

@media #{$mobile}{
  footer{
    height:60px;
    padding:0px;
    line-height: 15px;
    font-size: 12px;
    background-color: white;
    border-top: 1px solid #eee;

    .bottom-nav-menus{
      display: flex;
    }

    .copyright{
      display: none;
    }
  }
}