<div class="container page login-page">

  <form class="auth-form" [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="row title">
      <span class="title-lg" i18n="@@Login">Login</span>
    </div>

    <div class="row error-msg">
      <span *ngIf="errMsg" i18n="@@WrongLoginMsg">Worng username or password</span>
    </div>

    <div class="row">
      <div class="label-sm" i18n="@@Username">Username</div>
      <input formControlName="account" name="account" type="text" required="" (focus)="onFocusAccount($event)"/>
    </div>

    <div class="row">
      <div class="label-sm" i18n="@@Password">Password</div>
      <input formControlName="password" name="password" type="password" required="" (focus)="onFocusPassword($event)"/>
    </div>

    <div class="row btn-row">
      <button class="btn btn-primary" i18n="@@Login">Login</button>
    </div>

    <div class="row">
      <div class="link-row">
        <div class="link-col link-text" (click)="toPage('signup')" i18n="@@CreateAnAccount">Create An Account</div>
        <!-- <div class="link-col">|</div>
                <div class="link-col link-text" (click)="toPage('forget-password')">Forgot Password</div> -->
      </div>
    </div>
  </form>

  <!--    <div class="auth-form">
        <div class="row">Or</div>
        <div class="row google-signin">
            <button id="google-signin-btn" class="btn">
                <img class="google-icon" src="/assets/images/google.png"/>
                <span class="btn-text">Sign In with Google</span>
            </button>
        </div>
    </div> -->

</div>