.page{
  padding: 0px 15px 60px 15px;
}

.restaurant{
  padding: 5px 0px;
}

.contact-block{
  padding: 10px;
  border: solid 1px #eee;
  .row{
    margin: 0px;
  }
  .phone-col{
    padding-left: 15px;
  }
}

.total-block {
  padding: 10px 15px;
  .row {
    padding-bottom: 4px;
    .col-9 {
      padding-left: 100px;
    }
  }

  .total-row{
    margin-top: 5px;
    padding-top: 10px;
    border-top: solid 1px #eee;

    .col-9, .col-3{
      font-size: 16px;
    }
  }
}

.payment-method-block, .notes-block{
  padding: 10px 15px;
  margin: 0px;
  .row{
    padding: 0px;
  }
}

.notes-block{
  padding-right: 0px;
}

.product-list{
  padding: 5px 15px;
  .quantity-col {
    padding-left: 0px;
  }
}