<div class="page">
  <div class="title-row">
    <span class="title-bg" i18n="@@ConfirmOrder">Confirm Order</span>
  </div>

  <form [formGroup]="form">
    <div class="contact-block" *ngIf="restaurantName && contact" (click)="changeContact()">
      <div class="row label-sm">
        <span i18n="@@DeliverTo">Deliver to</span>:
      </div>
      <div class="title-sm">
        <span class="user-col">{{contact.username}}</span>
        <span class="phone-col">{{contact.phone}}</span>
      </div>
      <div class="title-sm">
        <span>{{contact.address}}</span>
      </div>
      <!-- <div>Estimate: 11:45~1:45</div> -->
    </div>

    <div class="title-md restaurant">{{restaurantName}}</div>
    <div class="bg-light product-list" *ngIf="cart.items && cart.items.length>0">
      <div *ngFor="let item of cart.items" class="text-sm row">
        <div class="col-6 product-col">{{item.productName}}</div>
        <div class="col-3 quantity-col">x{{item.quantity}}</div>
        <div class="col-3 price-col">${{item.price * item.quantity | number : '1.2-2'}}</div>
      </div>
    </div>

    <div class="total-block title-sm" *ngIf="cart.items.length>0">
      <div class="row">
        <div class="col-9">
            <span i18n="@@ProductTotal">Product Total</span>
            <span>:</span>
        </div>
        <div class="col-3">${{productTotal | number : '1.2-2'}}</div>
      </div>
      <div class="row">
          <div class="col-9">
            <span i18n="@@DeliveryFee">Delivery Fee</span>
            <span>:</span>
          </div>
        <div class="col-3">${{fullDeliveryFee | number : '1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="col-9">
          <span i18n="@@Tips">Tips</span>
          <span>:</span>
        </div>
        <div class="col-3">${{tips | number : '1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="col-9">
          <span i18n="@@Tax">Tax</span>
          <span>:</span>
        </div>
        <div class="col-3">${{tax | number : '1.2-2'}}</div>
      </div>
      <div class="row">
          <div class="col-9">
              <span i18n="@@Subtotal">Sub Total</span>
              <span>:</span>
          </div>
          <div class="col-3">${{subtotal | number : '1.2-2'}}</div>
        </div>
      <div class="row">
          <div class="col-9">
            <span i18n="@@DeliveryDiscount">Delivery Discount</span>
            <span>:</span>
          </div>
        <div class="col-3">-${{deliveryDiscount | number : '1.2-2'}}</div>
      </div>
      <div class="row total-row">
        <div class="col-9">
          <span i18n="@@Total">Total</span>
          <span>:</span>
        </div>
        <div class="col-3">${{total | number : '1.2-2'}}</div>
      </div>
    </div>

    <div class="payment-method-block">
      <div class="row label-sm">
        <span i18n="@@PaymentMethod">Payment Method</span>:
      </div>
      <div class="row" i18n="@@CashWhenDelivered">Cash when Delivered</div>
      <!-- <input name="paymentMethod" readonly /> -->
    </div>

    <div class="notes-block">
      <div class="row label-sm">
        <span i18n="@@NotesToMerchant">Notes to Merchant</span>:
      </div>
      <div class="row">
        <textarea name="notes" formControlName="notes"></textarea>
      </div>
    </div>
  </form>
</div>
