   <div class="col-md-12 col-sm-12 col-12 product-grid" *ngIf="groupedProducts">
     <div *ngFor="let cat of categories">
       <div *ngIf="groupedProducts[cat.id]">
        <div class="category-row text-sm">{{cat.name}}</div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 grid-item" *ngFor="let p of groupedProducts[cat.id]; let i = index;">
            <div class="row grid-item-body">
                <div class="col-md-12 col-4 image-body">
                    <img [src]="getProductImage(p)" alt="{{p.name}}">
                </div>
                <div class="col-md-12 col-8 text-body">
                    <div class="title-bg">{{p.name}}</div>
                    <div class="row order-row">
                        <div class="col-4 price-col">${{p.price}}</div>
                        <div class="col-8 button-col">
                            <div class="add-btn" (click)="addToCart(p)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z" />
                                <path fill="#0F9D58" d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                              </svg>
                            </div>
                            <div class="quantity" *ngIf="groupedOrders && groupedOrders[cat.id].length>0 && groupedOrders[cat.id][i].quantity>0" >
                                {{groupedOrders[cat.id][i].quantity}}</div>
                            <div class="remove-btn" *ngIf="groupedOrders && groupedOrders[cat.id][i].quantity>0" (click)="removeFromCart(p)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                  <path fill="none" d="M0 0h24v24H0V0z"/>
                                  <path fill="#F4B400" d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                                </svg>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
