$primary-color:#156d8e; // primary-btn bg color and border color
$default-color:#4A4A4A; // default-btn text color and border color 

$active-step-bg-color:#003e7e; 

$hover-color:#003e7e;
$link-color:#1a6e8d;
$border-color:#ccc;
$text-color:#333;

$triangle-w:20px;
$inner-triangle-w:19px;

$cellphone: "(max-width: 575px)";
$mobile: "(min-width:576px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

.wizard {
    width:540px;
    margin:auto;

    .w-page{
        display:none;
        width: 100%;
        border:1px solid $border-color;
        padding: 28px 0px 15px 0px;
    }

    ul.header{
        margin-left: 0px;
        padding-left: 0px;

        li{
            min-width:120px;
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: block;
            float: left;
            position: relative;

            .rect{
                float:left;
                background:white;
                border-top:1px solid $border-color;
                border-bottom:1px solid $border-color;
                height:($triangle-w * 2);
                width:calc(100% - #{$triangle-w + 1});
                padding-top:10px;
                padding-bottom:10px;
                color:$text-color;
                text-align:center;
                padding-left:15px;
            }

            .triangle {
                position: absolute;
                left: 0px;
                display: block;
                width: 0px;
                height: 0px;
                border-top: $triangle-w solid transparent;
                border-left: $triangle-w solid $border-color;
                border-bottom: $triangle-w solid transparent;
            }

            .triangle-right{
                float:left;
                left:0px;
                position: relative;
                width:$triangle-w;
                height:($triangle-w * 2);
            }

            // for border
            .triangle-inner {
                position: absolute;
                margin-top: 1px;
                left:0px;
                display:block;
                width: 0px;
                height: 0px;
                border-top: $inner-triangle-w solid transparent;
                border-left: $inner-triangle-w solid white;
                border-bottom: $inner-triangle-w solid transparent;
            }

            .triangle-left{
                width:$triangle-w;
                height:($triangle-w * 2);
                position:absolute;
                left:0px;
            }
        }

        li:first-child{
            .rect{
                border-left:1px solid $border-color;
            }
            .triangle-left{
                display: none;
            }
        }

        li:last-child{
            .rect{
                border-right:1px solid $border-color;
                width:100%;
            }
            .triangle-right{
                display: none;
            }
        }

        li.active{
            // background:$primary-color;
            // color:white;
            .rect{
                background:$active-step-bg-color;
                color:white;
                border:none;
            }

            .triangle-left{
                margin-left: 0px;
                display: block;
                .triangle {
                    display:none;
                }
                .triangle-inner{
                    border-left: $triangle-w solid white;
                    margin-top: 2px;
                    left:0px;
                    display:block;
                    width: 0px;
                    height: 0px;
                    border-top: $inner-triangle-w solid transparent;
                    border-left: $inner-triangle-w solid white;
                    border-bottom: $inner-triangle-w solid transparent;   
                }
            }

            .triangle-right{
                margin-left: 0px;
                .triangle {
                    border-left: $triangle-w solid $active-step-bg-color;
                }
                .triangle-inner{
                    display:none;   
                }
            }
        } // end of li.active

        li.active:first-child{
            .triangle-left{
                display:none;
            }
        }

        li.active:last-child{
            .rect{
                width:100%;
            }
        }
    } // end of ul.header

    @media #{$desktop}{

    }

    @media #{$tablet}{

    }

    @media #{$mobile}{
        width:100%;
        padding-left:5px;
        padding-right:5px;
        .w-page{
            width:100%;
        }
    }
    @media #{$cellphone}{
        width:100%;
        padding-left:5px;
        padding-right:5px;
        .w-page{
            width:100%;
        }
    }

}// end of .wizard
