

// Bootstrap's .modal z-index is by default 1050.
// jQuery UI's .ui-autocomplete z-index is by default 3.
.pac-container {
  z-index: 1054 !important;
}

.address-autocomplete-container{
  position: relative;
  width: 100%;
  
  input.address-autocomplete{
    width:100%;
    display: inline-block;
  }

  button.clear-btn{
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 6px;
    width: 40px;
    // pointer-events: none;
    z-index: 2054;
    img{
      border: 0px;
      width: 28px;
      height: 28px;
    }
  }
  
  button:focus {
    outline: none;
  }

}

