
      
<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page">
  <div class="row title-row">
    <div class="col-12 title-bg" i18n="@@BalanceDetail">BalanceDetail</div>
  </div>

  <div class="balance-list">
    <div class="row list-head">
      <div class="col-3 title-xs" i18n="@@Date">Date</div>
      <div class="col-3 title-xs" i18n="@@Description">Description</div>
      <div class="col-2 title-xs" i18n="@@Received">Received</div>
      <div class="col-2 title-xs" i18n="@@Paid">Paid</div>
      <div class="col-2 title-xs" i18n="@@Payable"> Payable</div>
    </div>


    <div class="list-item" *ngFor="let tr of transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageNumber, totalItems: nTransactions }"
      (click)="onSelect(tr)" [class.highlight]="tr.id === highlightedId">
      <div class="row">
        <div class="col-3">
          <span class="text-xs">{{tr.date | date: 'MMMdE'}}</span>
        </div>
        <div class="col-3">
          <span class="text-xs">{{tr.description.length > 13 ? ((tr.description | slice:0:11) + '..') : tr.description }}</span>
        </div>
        <div class="col-2">
          <span class="text-xs">{{tr.received | number : '1.2-2'}}</span>
        </div>
        <div class="col-2">
          <span class="text-xs">{{tr.paid | number : '1.2-2'}}</span>
        </div>
        <div class="col-2">
          <span class="text-xs">{{tr.balance | number : '1.2-2'}}</span>
        </div>
      </div>
    </div>
    <!-- end of list-item -->
    <pagination-controls class="balance-pagination" maxSize="5" (pageChange)="OnPageChange($event)"></pagination-controls>
  </div>
</div>


<!-- <div class="payment-table-container mat-elevation-z8" *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Date">Date</th>
            <td mat-cell *matCellDef="let row"> {{row.date | date: 'MMMdE'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef i18n="@@Name"> Name </th>
            <td mat-cell *matCellDef="let row">
              {{row.name}}
            </td>
          </ng-container>
      
          <ng-container matColumnDef="received">
            <th mat-header-cell *matHeaderCellDef i18n="@@Received"> Received </th>
            <td mat-cell *matCellDef="let row"> {{row.received | number : '1.2-2'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef i18n="@@Paid"> Paid </th>
            <td mat-cell *matCellDef="let row"> {{row.paid | number : '1.2-2'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef i18n="@@Balance"> Balance </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.balance"> {{row.balance | number : '1.2-2'}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[8]"></mat-paginator>
      </div>
       -->