
      
      <div class="payment-table-container mat-elevation-z8" *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Date">Date</th>
            <td mat-cell *matCellDef="let row"> {{row.date | date: 'MMMdE'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef i18n="@@Name"> Name </th>
            <td mat-cell *matCellDef="let row">
              <!-- <span *ngIf="row.type==='credit'">From</span>&nbsp;
              <span *ngIf="row.type==='debit'">To</span>&nbsp; -->
              {{row.name}}
            </td>
          </ng-container>
      
          <ng-container matColumnDef="received">
            <th mat-header-cell *matHeaderCellDef i18n="@@Received"> Received </th>
            <td mat-cell *matCellDef="let row"> {{row.received | number : '1.2-2'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef i18n="@@Paid"> Paid </th>
            <td mat-cell *matCellDef="let row"> {{row.paid | number : '1.2-2'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef i18n="@@Balance"> Balance </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.balance"> {{row.balance | number : '1.2-2'}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[8]"></mat-paginator>
      </div>
      