<div class="page">
  <div class="title-row title-bg" i18n="@@EditContact">
    Edit Contact
  </div>
  <form [formGroup]="form">
    <div class="row form-group" *ngIf="!(options && options.length>0) && !bDeliveryTime">
      <div class="label-sm">
        <span i18n="@@Username">Username</span>
      </div>
        <input name="username" formControlName="username" />
    </div>
    <div class="row form-group" *ngIf="!(options && options.length>0) && !bDeliveryTime">
      <div class="row label-sm">
        <span i18n="@@PhoneNumber">Phone Number</span><span>*</span>
      </div>
      <input name="phone" formControlName="phone" (keyup)="onPhoneChange(e)"/>
      
    </div>
    
    <div class="row form-group" *ngIf="!(options && options.length>0) && !bDeliveryTime">
      <div class="row label-sm" [class.warning]="!phoneVerified">
        <span i18n="@@VerificationCode">Verification Code</span><span>*</span>
      </div>
      <input class="verification-code" name="verificationCode" formControlName="verificationCode" 
      (keyup)="onVerificationCodeInput($event)"/>
      
      <div class="verification-result">
          <svg *ngIf="phoneVerified" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path fill="#0F9D58" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
          </svg>
      </div>
      <div class="btn btn-primary get-code-btn" (click)="sendVerify()" i18n="@@GetVerificationCode">Get Verification Code</div>
    </div>

    <div class="row form-group" *ngIf="!(options && options.length>0)">
      <div class="row label-sm">
        <span i18n="@@DeliveryDate">Delivery Date</span><span>*</span>
      </div>
      <div class="delivery-input" (click)="changeDeliveryDate()" *ngIf="deliveryTime">
        {{deliveryTime.text}} {{deliveryTime.date | date: 'MMMd E' }} {{deliveryTime.startTime}}-{{deliveryTime.endTime}}
      </div>
    </div>

    <div class="row form-group" *ngIf="!bDeliveryTime">
      <div class="row label-sm">
        <span i18n="@@DeliverAddress">Delivery Address</span><span>*</span>
      </div>
      <app-address-input (addrChange)="onAddressChange($event)" placeholder="InputDeliveryAddress"
        (addrClear)="onAddressClear($event)" (inputFocus)="onAddressInputFocus($event)"
        [value]="deliveryAddress">
      </app-address-input>
    </div>

    <div class="row">
      <div class="col-6 form-group" *ngIf="!(options && options.length>0) && !bDeliveryTime">
        <div class="label-sm">
          <span i18n="@@Unit">Unit</span>
        </div>
          <input name="unit" formControlName="unit" />
      </div>

      <div class="col-6 form-group" *ngIf="!(options && options.length>0) && !bDeliveryTime">
        <div class="row label-sm">
          <span i18n="@@BuzzCode">Buzz Code</span>
        </div>
        <input name="buzzCode" formControlName="buzzCode" />
      </div>
    </div>

    <app-location-list [account]="account" [places]="options"
      (placeSeleted)="onSelectPlace($event)">
    </app-location-list>
  </form>
  <div class="row contact-save-row">
      <div class="col-6 title-md cancel-col" (click)="cancel()" i18n="@@Cancel">Cancel</div>
      <div class="col-6 title-md save-col" (click)="save()" i18n="@@Save">Save</div>
    </div>
</div>