<div class="product-list">
    <div class="list-group list-body" *ngIf="products && products.length>0">
      <div class="list-group-item" *ngFor="let p of products; let i = index;" (click)="onSelect(p)" [ngClass]="{'active': selected == p}">
        <div class="row">
          <div class="col-4">
              <!-- <img [src]="p.pictures[0]?.url || placeholder" alt="{{p.name}}" /> -->
          </div>
    
          <div class="col-4 text-block">
            <div class="title-sm">{{p.name}}</div>
            <div class="text-sm">CAD {{p.price}}</div>
            <div class="text-sm">{{p.description}}</div>
          </div>
    
          <div class="col-4">
            <div class="btn btn-sm btn-secondary" (click)="delete(p)" i18n="@@Delete">Delete</div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
