<div class="page">
  <div class="title-row">
    <span class="title-bg" i18n="@@OrderHistory">Order History</span>
  </div>

  <div class="empty-order" *ngIf="!orders || orders.length===0">
      <div class="order-image">
        <img src="assets/outline-assignment-24px.svg" alt="order" />
      </div>
      <span i18n="@@OrderEmptyMsg">You don't have any order yet.</span>
  </div>

  <div class="order-list">
    <div class="list-item" *ngFor="let order of orders;">
      <div class="body" (click)="onSelect(order)">
          <div class="row order-header">
            <!-- <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@OrderId">Order Id</span>:
              <span class="title-xs">{{order.id}}</span>
            </div>
            <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@Status">Status</span>:
              <span class="text-xs">{{order.status}}</span>
            </div> -->
            <div class="col-12 col-sm-2" *ngIf="order.restaurant">
              <span class="title-xs" i18n="@@Restaurant">Restaurant</span>:
              <span class="text-xs">{{order.restaurant.name}}</span>
              <span class="text-xs">({{order.restaurant.address.sublocality? order.restaurant.address.sublocality : order.restaurant.address.city}})</span>
            </div>
            <!-- <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@Customer">Customer</span>:
              <span class="title-xs">{{order.username}}</span>
            </div>
            <div class="col-12 col-sm-4">
              <span class="title-xs" i18n="@@NotesToMerchant">Notes</span>:
              <span class="text-xs">{{(order.notes)}}</span>
            </div> -->
            <div class="col-12 col-sm-3">
              <span class="title-xs" i18n="@@OrderDate">Order Date</span>:
              <span class="text-xs">{{toDateTimeString(order.created)}}</span>
            </div>
            <!-- <div class="col-12 col-sm-3">
              <span class="title-xs" i18n="@@DeliverDate">Deliver Date</span>:
              <span class="text-xs">{{toDateTimeString(order.delivered)}}</span>
            </div>
            <div class="col-12 col-sm-6">
              <span class="title-xs" i18n="@@DeliverAddress">Deliver Address</span>:
              <span class="text-xs">{{(order.address)}}</span>
            </div> -->
          </div>

          <div class="row order-detail">
            <div class="col-7">
              <div *ngFor="let it of order.items">
                <div class="text-xs">{{it.name}} x {{it.quantity}}</div>
              </div>
            </div>
            <div class="col-5 text-sm total" *ngIf="order.total">
              <span i18n="@@Total">Total</span>: ${{order.total | number : '1.2-2'}}
            </div>
            <!-- <div class="col-6" *ngIf="order.status === 'new'">
              <div class="btn btn-primary btn-xs pull-right" (click)="takeOrder(order)">Take Order</div>
            </div>
            <div class="col-6" *ngIf="order.status === 'process'">
              <div class="btn btn-primary btn-xs pull-right" (click)="sendForDeliver(order)">Delivered</div>
            </div> -->
          </div>
        </div>
    </div>
  </div>
</div>
