.empty-order{
  text-align: center;
  margin-top: 150px;
  img{
    width: 56px;
    height: 56px;
    filter: invert(71%) sepia(42%) saturate(5386%) hue-rotate(13deg) brightness(112%) contrast(103%);
  }
}

.order-list{
  padding: 0px 10px 60px 10px;

  .list-item{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;

    .row{
      margin-left: 0px;
      margin-right: 0px;
    }

    .order-header{
        padding: 5px 0px;
    }
    .total{
        padding-top:8px;
    }

    .order-detail{
      .col-7{
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 767px){
  .order-list{
    .list-item{
      .col-6, .col-12{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}