.uploader{
  margin: 0px;
  padding: 10px 0px;
  border: #d0d0d0 dashed 1px;
  width: 100%;
}

img{
  width: 120px;
  height: 90px;
}

.btn-holder{
  .btn{
    padding:5px;
    float:left;
  }
  .btn-file{
    width: 110px;
    margin-right:5px;
  }
  
  .btn-clear{
    width: 60px;
  }
}

// $mobile: "(max-width: 767px)";
// $tablet: "(min-width: 768px) and (max-width: 1199px)";
// $desktop: "(min-width: 1200px)";


// @media #{$mobile}{
//     .btn-holder{
//       .btn{
//         padding:5px;
//         float:left;
//       }
//       .btn-file{
//         width: 110px;
//         margin-right:5px;
//       }
      
//       .btn-clear{
//         width: 60px;
//       }
//     }
// }

