<div class="row uploader">
  <div class="col-5 left-side preview">
    <img *ngIf="urls && urls.length > 0" [src]="urls[0]" />
  </div>
  <div class="col-7 right-side">
    <input hidden type="file" #uploader (change)="onFileChange($event)" />
    <div class="row btn-holder">
      <div class="btn btn-primary btn-file" (click)="uploader.click()" i18n="@@ChooseFile">Choose File</div>
      <!-- <div class="btn btn-primary btn-clear" (click)="onDelete()" i18n="@@WriteToUs">Clear</div> -->
    </div>
  </div>
</div>