
  <div class="account-list">
    <div class="list-group list-body" *ngIf="accounts && accounts.length>0">
      <div class="list-group-item" *ngFor="let p of accounts; let i = index;" (click)="onSelect(p)" [ngClass]="{'active': selected == p}">
        <div class="row">
          <div class="col-2">
              <!-- <img [src]="p.pictures[0]?.url || placeholder" alt="{{p.name}}" /> -->
          </div>
    
          <div class="col-6 text-block">
            <div class="title-sm">{{p.username}}</div>
            <div class="text-sm">{{p.email}}</div>
            <div class="text-sm">{{p.type}}</div>
          </div>
    
          <div class="col-4">
            <div class="btn btn-sm btn-secondary" (click)="delete(p)" i18n="@@Delete">Delete</div>
          </div>
        </div>
      </div>
    </div>
  </div>