
  <div class="col-12 time-option-list">
      <!-- <div class="row option-item overdue" (click)="onSelectTime('immediate')">
        <div class="col-12 immediate-deliver">
          <div>
            <span class="text-md" style="font-weight: 400" i18n="@@ImmediateDeliver">Immediate Deliver</span>
          </div>
          <div class="text-sm">
            <span i18n="@@DeliveryFeeMinus">Delivery Fee Minus</span>
            <span>&nbsp;${{deliveryDiscount}}</span>
          </div>
        </div>
      </div> -->
      <div *ngIf="!afternoon" class="row option-item" [class.overdue]="overdue" [class.free]="!overdue"
        (click)="onSelectTime('lunch today')">
        <div class="col-12">
          <div>
            <span class="text-md" i18n="@@LunchToday">Lunch Today</span>
            <span class="text-sm date">{{list[0].date | date: 'MMMd E' }} </span>
            <span class="text-sm time">{{list[0].startTime}}~{{list[0].endTime}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
            <!-- <span class="text-sm">&nbsp;)</span> -->
          </div>
          <div class="text-sm">
            <span *ngIf="!overdue">9:30</span>
            <span *ngIf="!overdue" i18n="FreeDeliveryIfOrderBefore">Free delivery if order before</span>
            <span *ngIf="overdue" i18n="@@DeliveryFeeMinus">Delivery Fee Minus</span>
            <span *ngIf="overdue">&nbsp;${{deliveryDiscount}}</span>
            <span *ngIf="overdue" class="overdue-note">
              <span i18n="@@Over">Over</span>9:30&nbsp;
              <span i18n="@@DeliverNotFreeNotes">deliver is not free, please order in advance next time</span>
            </span>
          </div>
      </div>
    </div>
    <div class="row option-item free" (click)="onSelectTime('lunch tomorrow')">
      <div class="col-12">
          <div>
            <span class="text-md" i18n="@@LunchTomorrow">Lunch Tomorrow</span>
            <span class="text-sm date">{{list[1].date | date: 'MMMd E'}} </span>
            <span class="text-sm time">{{list[1].startTime}}~{{list[1].endTime}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
            <!-- <span class="text-sm">&nbsp;)</span> -->
          </div>
          <div class="text-sm">
            <span i18n="@@FreeDelivery">Free Delivery</span>
          </div>
      </div>
    </div>
    <div class="row option-item free" (click)="onSelectTime('lunch after tomorrow')">
      <div class="col-12">
          <div>
            <span class="text-md" i18n="@@LunchTheDayAfterTomorrow">Lunch the Day after Tomorrow</span>
            <span class="text-sm date">{{list[2].date | date: 'MMMd E'}} </span>
            <span class="text-sm time">{{list[2].startTime}}~{{list[2].endTime}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
            <!-- <span class="text-sm">&nbsp;)</span> -->
          </div>
          <div class="text-sm">
            <span i18n="@@FreeDelivery">Free delivery</span>
          </div>
      </div>
    </div>
</div><!--time-option-list-->
