
<div *ngIf="ordersWithNote && ordersWithNote.length>0">
  <div class="row label-sm">
    <span i18n="@@Note">Note</span>:
  </div>
  <div *ngFor="let order of ordersWithNote">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{order.note}}</span>
        </mat-panel-title>
        <!-- <mat-panel-description>
          Type your name and age
        </mat-panel-description> -->
      </mat-expansion-panel-header>
  
      <div *ngFor="let item of order.items" class="text-sm row">
        <div class="col-6 product-col">{{item.productName}}</div>
        <div class="col-3 quantity-col">x{{item.quantity}}</div>
        <!-- <div class="col-3 price-col">${{item.price * item.quantity | number : '1.2-2'}}</div> -->
      </div>
    </mat-expansion-panel>
  </div>
</div>

<div class="row label-sm" *ngIf="list && list.length > 0">
  <span i18n="@@Products">Products</span>:
</div>
<div *ngFor="let item of list" class="row">
  <div class="col-8">{{item.productName}}</div>
  <div class="col-4">x{{item.quantity}}</div>
</div>
