<form [formGroup]="form" class="account-form">
  <div class="row">
    <div class="label-sm" i18n="@@Username">Username</div>
    <input name="username" formControlName="username" />
  </div>
  <div class="row">
    <div class="label-sm" i18n="@@Password">Password</div>
    <input name="password" formControlName="password" type="password" />
  </div>

  <div class="row">
    <div class="label-sm" i18n="@@Email">Email</div>
    <input name="email" formControlName="email" type="text" />
  </div>
<!-- 
  <div class="row">
    <div class="label-sm" i18n="@@Type">Type</div>
    <input name="type" formControlName="type" type="type" />
  </div> -->
  <div class="row">
    <div class="label-sm" i18n="@@Type">Type</div>
    <select name="type" formControlName="type">
        <option *ngFor="let type of accountTypes" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="row btn-row">
    <button class="btn btn-primary" (click)="save()" i18n="@@Save">Save</button>
    <button class="btn btn-secondary" (click)="cancel()" i18n="@@Cancel">Cancel</button>
  </div>
</form>