
<div class="row">
    <div class="col-md-12 col-sm-12 col-12 restaurant-grid" *ngIf="restaurantList && restaurantList.length>0">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 grid-item" *ngFor="let r of restaurantList; let i = index;" (click)="toDetail(r)">
            <div class="row grid-item-body" *ngIf="r.distance!==null">
                <div class="col-6 image-body">
                    <img [src]="getImageSrc(r)" [alt]="r.name">
                    <div *ngIf="deliverTimeType !== 'immediate'" class="free delivery-fee notify-badge">
                      <div class="text-sm" i18n="@@FreeDelivery">Free delivery</div>
                      <del><span>${{r.fullDeliveryFee}}</span></del>
                    </div>
                    <div *ngIf="deliverTimeType === 'immediate'" class="immediate delivery-fee notify-badge">
                      <div class="text-sm">
                        <span i18n="@@DeliveryFee">Delivery Fee</span>&nbsp;${{r.deliveryFee}}
                      </div>
                      <del><span>${{r.fullDeliveryFee}}</span></del>
                    </div>
                </div>

                <div class="col-6 text-body">
                    <div class="title-bg text-left">{{r.name}}</div>
                    
                    <!-- <div class="text-sm text-left" i18n="@@FreeDeliverWhen">Free Deliver when order before 10:00am</div> -->
                    <div class="text-sm text-left" *ngIf="r && r.distance">{{getDistanceString(r)}}</div>
                </div>
            <!-- <div class="card-footer text-muted">{{p.id}}</div> -->
            </div>
        </div>
    </div>
</div>
