
<form [formGroup]="form" class="admin-form">
    <div class="row">
        <div class="label-sm" i18n="@@Name">Name:</div>
        <input name="name" formControlName="name"/>
        <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors.required">Product Name is required</div>
            <div *ngIf="name.errors.minlength">Product Name should be minimum 3 characters.</div>
        </div> -->
    </div>

    <div class="row">
        <div class="label-sm" i18n="@@Description">Description</div>
        <textarea name="description" formControlName="description"></textarea>
        <!-- <div *ngIf="description.touched && description.invalid" class="alert alert-danger">Description should be maximum 980 chars.</div> -->
    </div>

    <div class="row">
        <div class="col-6">
          <div class="label-sm" i18n="@@Restaurant">Restaurant</div>
          <select name="restaurant" formControlName="restaurantId">
              <option *ngFor="let m of restaurantList" [value]="m.id">{{m.name}}</option>
          </select>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="row">
      <div class="col-6">
          <div class="label-sm" i18n="@@Category">Category</div>
          <select name="category" formControlName="categoryId">
              <option *ngFor="let c of categoryList" [value]="c.id">{{c.name}}</option>
          </select>
      </div>
      <div class="col-6">
        <div class="label-sm" i18n="@@Price">Price</div>
        <input type="number" name="price" formControlName="price"/>
        <!-- <div *ngIf="price.touched && price.invalid" class="alert alert-danger">Price is required.</div> -->
      </div>
    </div>

    <!-- <div class="row">
      <div class="label-sm">Category</div>
      <div formArrayName="categories" class="row categroy-group">
          <div class="col-2 col-xs-12" *ngFor="let cat of categoryList; let i=index">
              <input type="checkbox" formControlName="{{i}}" (change)="onToggleCategory(cat)">
              <div class="checkbox-label">{{cat.name}}</div>
          </div>
      </div>
    </div> -->

    <div class="row image-uploader">
      <app-image-uploader [size]="'lg'" [urls]="urls"
        [uploadUrl]="uploadUrl" (afterUpload)="onAfterPictureUpload($event)">
      </app-image-uploader>
    </div>

    <button class="btn btn-primary" (click)="save()" i18n="@@Save">Save</button>
</form>
