
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

.image-uploader{
  margin-top:10px;

  app-image-uploader{
    width:580px;
  }
}

.checkbox-group{
  padding:15px;

  input, .checkbox-label{
    float:left;
  }
}

.row{
  .col-6:first-child{
    padding-left:0px;
    padding-right:10px;
    input, select {
      width: 100%;
    }
  }

  .col-6:last-child{
    padding-left:10px;
    padding-right:0px;
    input, select {
      width: 100%;
    }
  }
}

@media #{$mobile}{
  app-image-uploader{
    width:100%;
  }

  form{
    padding: 0px;
  }
}

