<div class="page container">
  <div class="row title-row" *ngIf="restaurant">
    <div class="col-12 restaurant-name title-bg">{{restaurant.name}}</div>
    <div class="col-12"><span i18n="@@OpeningHours">Opening Hours</span>: 11:30 - 23:00</div>
    <!-- <div class="col-12"><span i18n="@@Address">Address</span>: {{restaurant.address.formattedAddress}}</div> -->
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 product-block">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab i18n-label label="Menu">
          <app-product-grid [groupedProducts]="groupedProducts" [categories]="categories"></app-product-grid>
        </mat-tab>
        <mat-tab i18n-label label="Reviews">
          <div></div>
        </mat-tab>
        <mat-tab i18n-label label="About">
          <app-restaurant-about [restaurant]="restaurant"></app-restaurant-about>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>