<div class="container page signup-page">
    <form class="auth-form" [formGroup]="form">
        <div class="row">
            <span class="title-md">Change Password</span>
        </div>
        <div class="row">
            <span class="error-msg">{{errMsg}}</span>
        </div>

        <div class="row">
            <div class="label-sm">Old Password</div>
            <input formControlName="password" name="old-password" type="password" />
        </div>

        <div class="row">
            <div class="label-sm">New Password</div>
            <input formControlName="newPassword" name="new-password" type="password" />
        </div>

        <div class="row">
            <div class="label-sm">Confirm New Password</div>
            <input formControlName="confirmPassword" name="confirm-password" type="password" />
        </div>

        <div class="btn-holder">
            <button class="btn btn-primary" (click)="changePassword()">Submit</button>
        </div>
    </form>
</div>
