<h1 mat-dialog-title class="title-bg">{{data.title}}</h1>
<div mat-dialog-content>
  <div class="receivables-row" *ngIf="order">
    <div class="col-12">
      <div class="row total-col">
        <span>今天订单</span>:&nbsp;
        <span>${{order.total | number : '1.2-2'}}</span>
      </div>
      <div class="row receivable-col">
        <span>总共应收</span>:&nbsp;
        <span class="title-bg" (click)="openBalanceDialog(order)">${{receivable | number : '1.2-2'}}</span>
      </div>
    </div>
    <div class="col-12">
      <form [formGroup]="form" class="received-form">
        <div class="row received-block">
          <div class="label">
            <span i18n="@@Received">Received</span>:&nbsp;
          </div>
          <input type="number" pattern="[\d\.]*" step="0.01" class="received-input" name="received" formControlName="received" />
        </div>

        <div class="row note-block">
          <div class="label">
            <span i18n="@@Note">Note</span>:&nbsp;
          </div>
          <input class="note-input" name="note" formControlName="note" />
        </div>
      </form>
    </div>
    <!--end of right-col -->
  </div>


</div>

<div mat-dialog-actions class="actions-row" *ngIf="order">
  <div class="btn btn-secondary btn-cancel" (click)="onCancel()">取消</div>
  <div class="btn btn-primary btn-pay" (click)="onPay()">确认收款</div>
</div>