<h1 mat-dialog-title class="title-bg">{{data.title}}</h1>
<div mat-dialog-content>
  <!-- <p>{{data.content}}</p>
  <mat-form-field>
  </mat-form-field> -->

  <div class="receivables-row" *ngIf="order">
    <div class="col-12">
      <!-- <div class="row balance-col">
        <span>往日余额</span>:&nbsp;
        <span>${{order.balance | number : '1.2-2'}}</span>
      </div> -->
      <div class="row total-col">
        <span>今天订单</span>:&nbsp;
        <span>${{order.total | number : '1.2-2'}}</span>
      </div>
      <div class="row receivable-col">
        <span>总共应收</span>:&nbsp;
        <span class="title-bg" (click)="openBalanceDialog(order)">${{receivable | number : '1.2-2'}}</span>
      </div>
      <!-- <div class="row nOrder-col" *ngIf="nOrders > 1">
        <span>应收高因为客户今天有</span>
        <span>{{nOrders}}</span>
        <span>个订单</span>
      </div>
      <div class="row nOrder-col" *ngIf="owe > 0">
        <span>应收高因为客户有欠款</span>
        <span>${{owe | number : '1.2-2'}}</span>
      </div>   -->
    </div>
    <div class="col-12">
      <form [formGroup]="form" class="received-form" *ngIf="order.status!=='paid'">
        <div class="row received-block">
          <div class="label">
            <span i18n="@@Received">Received</span>:&nbsp;
          </div>
          <!-- <div class="dollar-sign">$&nbsp;<span *ngIf="order.paid">{{received | number : '1.2-2'}}</span></div> -->
          <input type="number" pattern="[\d\.]*" step="0.01" class="received-input" name="received" formControlName="received" />
        </div>

        <div class="row note-block">
            <div class="label">
              <span i18n="@@Note">Note</span>:&nbsp;
            </div>
            <input class="note-input" name="note" formControlName="note" />
          </div>
      </form>
      <!-- <div class="row paid-toggle">
        <mat-slide-toggle i18n="@@Paid" [checked]="paid" (click)="$event.preventDefault()" (change)="togglePaid($event, order)">Paid</mat-slide-toggle>
      </div> -->
    </div><!--end of right-col -->
  </div>


</div>

<div mat-dialog-actions class="actions-row" *ngIf="order">
  <div class="btn btn-secondary btn-cancel" (click)="onCancel()" >取消</div>
  <div *ngIf="order.status!=='paid'" class="btn btn-primary btn-pay" (click)="onPay()" >确认收款</div>
</div>

