<div class="page">
    <div class="title-row title-bg" i18n="@@EditContact">
      Edit Contact
    </div>
    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@DeliveryDate">Delivery Date</span><span>*</span>
      </div>
      <div class="delivery-input" *ngIf="deliveryTime">
        {{deliveryTime.text}} {{deliveryTime.date | date: 'MMMd E' }} {{deliveryTime.startTime}}-{{deliveryTime.endTime}}
      </div>
    </div>
    <app-delivery-date-list [orderDeadline]="orderDeadline"
      [deliveryDiscount]="deliveryDiscount" (afterSelectDate)="onSelectDeliveryTime($event)">
    </app-delivery-date-list>

</div>



