<div class="header-row">
  <div class="row">
    <div class="col-2 nav-col">
      <div class="btn btn-sm btn-primary pull-right" i18n="@@NavigateToHere" (click)="navigateTo(data.place.location)">
        NavigateToHere
      </div>
    </div>

    <div class="col-9 address-col">
      <span class="text-sm" *ngIf="group">{{group.address}}</span>
    </div>

    <div class="col-1 close-btn">
      <button class="close" (click)="onNoClick()">X</button>
    </div>
  </div>
</div>

<div class="order-list" *ngIf="group && group.items && group.items.length > 0">
  <div *ngFor="let it of group.items" class="order-block">
    <mat-expansion-panel [expanded]="it.status !== Status.DONE">
      <mat-expansion-panel-header>
        <div class="row order-header">
          <div class="col-8">
            <div class="row code-col">
              <div class="col-3" i18n="@@OrderId">Order Id</div>
              <div class="col-9">{{it.code}}</div>
            </div>
            <div class="row client-col">
              <div class="col-3" i18n="@@Client">Client</div>
              <div class="col-9">{{it.order.clientName}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-5 status-col" *ngIf="it.status !== Status.DONE">未送</div>
              <div class="col-5 status-col green" *ngIf="it.status === Status.DONE">已送</div>
              <div class="col-7 quantity-col" [class.emphasise]="getQuantity(it.order) > 1">x {{getQuantity(it.order)}}件</div>
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="order">
        <div class="row merchant-row">
          <div class="col-3" i18n="@@Merchant">Merchant</div>
          <div class="col-9">{{it.order.merchantName}}</div>
        </div>
        <div class="row phonenum-row">
          <div class="col-3" i18n="@@ClientPhoneNumber">Client Phone Number</div>
          <div class="col-9" *ngIf="it.order.client && it.order.client.phone">
            <span>{{it.order.client.phone}}</span>&nbsp;
            <span style="white-space:pre"></span>
            <a style="font-size:14px;" [href]="'tel:' + it.order.client.phone" i18n="@@Call">Call</a>
          </div>
          <div *ngIf="!it.order.client">未登记号码</div>
          <div *ngIf="bAllowMsg" class="btn btn-sm btn-primary" (click)="sendClientMsg(it.order)">消息通知客户到货</div>
        </div>

        <div class="row note-row" *ngIf="it.order.note">
          <div class="col-3" i18n="@@Note">Note</div>
          <div class="col-9 note-text">{{it.order.note}}</div>
        </div>
      </div>
      <form [formGroup]="forms[it.order._id]" class="info-form">
        <div class="row info-row">
          <div class="col-3 label-col">
            <div i18n="@@ClientInfo">Client Info</div>
            <div *ngIf="bAllowSave[it.order._id]" class="btn btn-primary" (click)="onSubmitClientInfo(it.order)" i18n="@@Save">Save</div>
          </div>
          <div class="col-9" class="note-col">
            <textarea class="info-input" name="info" formControlName="info" (click)="onClickClientInfo(it.order)"></textarea>
          </div>
        </div>
      </form>

      <div class="row client-attr-row" *ngIf="it.order.client">
        <div class="col-3" i18n="@@ClientAttribute">Client Attribute</div>
        <div class="col-9">
          <mat-form-field class="attributes-field">
            <mat-label>
              <span i18n="@@ClientAttribute">Client Attribute</span>
            </mat-label>
            <mat-select [(value)]="it.order.client.attributes" (selectionChange)="onAttributesChanged(it.order.client, $event)" (openedChange)="onSave(it.order.client, $event)"
              multiple floatLabel="never">
              <mat-option *ngFor="let a of attributes" [value]="a.code">
                {{a.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row product-block">
        <div class="col-9" *ngIf="it.order.items && it.order.items.length > 0">
          <div *ngFor="let item of it.order.items" class="text-sm row">
            <div class="col-6 product-col" *ngIf="item.product" [ngClass]="getProductCssClass(item)">{{item.product.name}}</div>
            <div class="col-3 quantity-col" [class.emphasise]="item.quantity>1">x{{item.quantity}}</div>
          </div>
        </div>
      </div>

      <div class="row receivables-row">
        <div class="btn btn-primary" *ngIf="needCollectCash(it)" (click)="openReceiveCashDialog(it.order)">收款</div>
        <div class="btn btn-primary" *ngIf="!isOrderFinished(it) && !needCollectCash(it)" (click)="finishDelivery(it.order)">完成订单</div>
      </div>
    </mat-expansion-panel>
  </div>
  <!-- <div *ngFor="let it of myItems" class="order-block">
    <mat-expansion-panel [expanded]="it.status !== Status.DONE">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row order-header">
            <div class="col-8">
              <div class="row code-col">
                <div class="col-3" i18n="@@OrderId">Order Id</div>
                <div class="col-9">{{it.code}}</div>
              </div>
              <div class="row client-col">
                <div class="col-3" i18n="@@Client">Client</div>
                <div class="col-9">{{it.order.clientName}}</div>
              </div>
            </div>

            <div class="col-4">
              <div class="row">
                <div class="col-6 status-col" *ngIf="it.status !== Status.DONE">未送</div>
                <div class="col-6 status-col green" *ngIf="it.status === Status.DONE">已送</div>
                <div class="col-6 quantity-col">x {{getQuantity(it.order)}}件</div>
              </div>
              <div class="row">
                <div class="col-12 status-col" *ngIf="it.paid && it.order.paymentMethod === PaymentMethod.CREDIT_CARD">信用卡已付款</div>
                <div class="col-12 status-col" *ngIf="it.paid && it.order.paymentMethod === PaymentMethod.WECHAT">微信已付款</div>
                <div class="col-12 status-col" *ngIf="it.paid && it.order.paymentMethod === PaymentMethod.PREPAY">现金已预付</div>
              </div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="order">
        <div class="row merchant-row">
          <div class="col-3" i18n="@@Merchant">Merchant</div>
          <div class="col-9">{{it.order.merchantName}}</div>
        </div>
          <div class="row phonenum-row">
            <div class="col-3" i18n="@@ClientPhoneNumber">Client Phone Number</div>
            <div class="col-9" *ngIf="it.order.client && it.order.client.phone">
              <span>{{it.order.client.phone}}</span>&nbsp;
              <span style="white-space:pre"></span>
              <a style="font-size:14px;" [href]="'tel:' + it.order.client.phone" i18n="@@Call">Call</a>
            </div>
            <div>未登记号码</div>
          </div>

        <div class="row note-row" *ngIf="it.order.note">
          <div class="col-3" i18n="@@Note">Note</div>
          <div class="col-9 note-text">{{it.order.note}}</div>
        </div>

        <form [formGroup]="forms[it.order._id]" class="info-form">
          <div class="row info-row">
            <div class="col-3 label-col">
              <div i18n="@@ClientInfo">Client Info</div>
              <div *ngIf="bAllowSave[it.order._id]" class="btn btn-primary" (click)="onSubmitClientInfo(it.order)" i18n="@@Save">Save</div>
            </div>
            <div class="col-9" class="note-col">
              <textarea class="info-input" name="info" formControlName="info" (click)="onClickClientInfo(it.order)"></textarea>
            </div>
          </div>
        </form>

        <div class="row client-attr-row" *ngIf="it.order.client">
          <div class="col-3" i18n="@@ClientAttribute">Client Attribute</div>
          <div class="col-9">
            <mat-form-field class="attributes-field">
              <mat-label>
                <span i18n="@@ClientAttribute">Client Attribute</span>
              </mat-label>
              <mat-select [(value)]="it.order.client.attributes" (selectionChange)="onAttributesChanged(it.order.client, $event)" (openedChange)="onSave(it.order.client, $event)"
                multiple floatLabel="never">
                <mat-option *ngFor="let a of attributes" [value]="a.code">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row product-block">
          <div class="col-9" *ngIf="it.order.items && it.order.items.length > 0">
            <div *ngFor="let item of it.order.items" class="text-sm row">
              <div class="col-6 product-col" [ngClass]="getProductCssClass(item)">{{item.product.name}}</div>
              <div class="col-3 quantity-col">x{{item.quantity}}</div>
            </div>
          </div>
        </div>

        <div class="row receivables-row">
          <div class="btn btn-primary" *ngIf="needCollectCash(it)" (click)="openReceiveCashDialog(it.order)">收款</div>
          <div class="btn btn-primary" *ngIf="!needCollectCash(it)" (click)="finishDelivery(it.order)">完成订单</div>
        </div>
      </div>

    </mat-expansion-panel>
  </div>
</div> -->