.header-row{
  margin: 0px;
  padding: 10px;
  z-index: 900;
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;

  position: absolute;
  left: 0px;
  top: 0px;

  .row{
    margin: 0px;
  }

  .address-col{
    padding: 0px;

  }

  .nav-col{
    padding: 0px;
  }

  .close-btn{
    padding-right: 5px;
    .close{
      height: 25px;
    }
  }
}


.order-list{
  margin-top: 50px;
}

.order{
  border-bottom: solid 1px #eee;
  margin: 0px;
  padding: 0px;

  .row{
    margin: 0px;
  }

  .merchant-row, .note-row, .order-id-row, .client-row, .phonenum-row, .address-row, .navigate-row, .client-attr-row{
    font-size: 14px;
    padding-bottom: 5px;
    .col-3 {
      padding: 0px;
    }
    .col-9 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .note-text{
      color: red;
    }
  }

  .info-row{
    .label-col{
      padding: 0px;
    }
    .note-col{
      padding-top: 5px;
      
      textarea{
        height: 54px;
        width: 210px;
        padding: 5px;
        color: red;
        border: 1px solid #bbb !important;
      }
    }
  }

  .order-id-col{
    font-size: 12px;
    .col-3 {
      padding: 0px;
    }
    .col-9 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .product-block{
    padding-top: 0px;
    .col-9, .col-3{
      padding: 0px;
    }

    .product-col{
      padding-left: 0px;
      padding-right: 0px;
    }
    .beverage{
      color: red;
    }
    .quantity-col{
      padding-left: 5px;
    }

    .phonenum-row{
      a{
        font-size: 14px;
      }
    }
  }

  .navigate-row{
    .btn{
      float: right;
    }
  }

  .paid-toggle{
    margin-top: 10px;
  }
}


.order-header{
  width: 100%;
  margin: 0px;

  .row{
    margin: 0px;
  }
  .col-8{
    padding: 0px;
  }

  .code-col, .client-col, .quantity-col, .status-col{
    // font-size: 14px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
  }

  .col-3 {
    padding: 0px;
  }
  .col-9 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .red{
    color: red;
  }

  .green{
    color: green;
  }
}

.receivables-row{
  font-size: 14px;
  padding-top: 10px;
  margin: 5px;

  .left-col{
    padding: 0px;
  }

  .right-col{
    padding-right: 0px;

    .paid-toggle{
      margin-top: 10px;
    }
  }
}

.received-form{
  font-size: 16px;
  padding-right: 0px;
  .label, .dollar-sign{
    padding-top: 5px;
  }
  .received-input{
    float: left;
    width: calc(100% - 56px);
    height: 32px;
    padding: 5px;
  }
}

.order-block{
  margin-bottom: 6px;
}

.total-col, .balance-col, .receivable-col, .nOrder-col{
  font-size: 12px;
}

.nOrder-col{
  width: 185px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px 10px !important;
}

.mat-slide-toggle-bar {
  height: 28px !important;
  width: 88px !important;
}

.mat-slide-toggle-thumb {
  height: 28px !important;
  width: 28px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(60px,0,0) !important;
}

.mat-slide-toggle-thumb-container {
  width: 28px !important;
  height: 28px !important;
  top: 0px !important;
}

.mat-expansion-panel-header {
  padding-left: 12px !important;
  font-weight: 600;
  margin: 0px;
}

.mat-expansion-panel-header-title {
  padding-right: 0px;
  margin: 0px;
}

.mat-slide-toggle-content {
    font-size: 12px;
}

// material css
.receive-cash-dialog{
  position: absolute !important;
  top: 8%;
  left: 6%;
  width: 88% !important;
  height: 70%;
  max-width: none !important;
}

.client-attr-row{
  padding-top:10px;
  .mat-form-field-type-mat-select{
    width: 240px;
    margin-top: -14px;
  }
}
