<div class="page">
  <div class="title-row">
    <span class="title-bg" i18n="@@ShoppingCart">Shopping Cart</span>
  </div>
  <div class="empty-cart" *ngIf="!cart || !cart.items || cart.items.length==0">
      <div class="cart-image">
        <img src="assets/outline-shopping_cart-24px.svg" alt="cart" />
      </div>
      <span i18n="@@CartEmptyMsg">Your Cart is empty</span>
  </div>

  <div class="cart" *ngIf="cart && cart.items && cart.items.length>0">
      <!-- <div class="row title">
        <div class="col-9 title-lg title-left" i18n="@@ShoppingCart">Shopping Cart</div>
        <div class="col-3 title-sm pull-right" i18n="@@ClearCart" (click)="clearCart()">Clear</div>
      </div> -->
      <div class="container item-list">
        <div *ngFor="let item of cart.items">
          <div class="row item-row">
            <div class="col-5 image-col">
              <img [src]="getProductImage(item)">
            </div>
  
            <div class="col-7 text-col">
              <div class="col-12 name-row">
                <div>{{item.productName}}</div>
              </div>
              <div class="col-12 detail-row">
                <div class="row">
                    <div class="col-4 price-col">$ {{item.price}}</div>
                    <div class="col-8 button-col">
                        <div class="add-btn" (click)="addToCart(item)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path fill="#0F9D58" d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                          </svg>
                        </div>
                        <div class="quantity" *ngIf="item.quantity>0" >{{item.quantity}}</div>
                        <div class="remove-btn" *ngIf="item.quantity>0" (click)="removeFromCart(item)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/>
                            <path fill="#F4B400" d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                          </svg>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end of item-list-->
    </div>
</div>