#map {
   width: 100%;
   height: 100%;
   background-color: grey;
 }
 
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

$cellphone: "(max-width: 575px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

@media #{$tablet}{

}

@media #{$mobile}{

}

@media #{$cellphone}{

}