.content{
  padding: 10px;
}

.date-input-block{
  width: 100%;
  height: 60px;
  display: block;
  margin: 0px;
  padding: 10px 10px 0px 10px;

  form{
    width: 100%;
    display: flex;
    
    .date-input{
      width: calc(100% - 40px);
      margin-bottom: 10px;
    }
  }
}
