<div class="page">
  <div class="header-row">
    <span class="title-bg" i18n="@@MyOrder">My Order</span>
  </div>
  <div class="content">
    <!-- <div class="deliver-time">
        <span i18n="@@PickupTime">Pickup Time</span>
      </div> -->
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="{{phase.pickup}}" *ngFor="let phase of phases">
        <app-order-pack [assignments]="phase.assignments" [pickupTime]="phase.pickup"></app-order-pack>
      </mat-tab>
    </mat-tab-group>

    <!-- <app-order-pack *ngIf="restaurant"
        [account]="account"
        [restaurant]="restaurant"
        [delivered]="delivered">
      </app-order-pack> -->
  </div>
</div>