<div class="container page page-forget-password">
	<form class="auth-form" [formGroup]="form">

            <div class="row">
                <div class="title-md">Forgot Password</div>
			</div>
			<div class="row">
				<span class="error-msg">{{errMsg}}</span>
			</div>


            <div class="row">
                <div class="label-sm">Username or Email:</div>
				<input formControlName="email" name="email" type="text" required />
			</div>

			<div class="row btn-holder">
				<button class="btn btn-primary" (click)="onTempPassword()" type="submit" block>Email Temporary Password</button>
			</div>

	 </form>
</div>
